[submodule ".emacs.d/plugins/markdown-mode"]
	path = .emacs.d/plugins/markdown-mode
	url = http://jblevins.org/git/markdown-mode.git
[submodule ".emacs.d/plugins/deft"]
	path = .emacs.d/plugins/deft
	url = http://jblevins.org/git/deft.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:Raytray/oh-my-zsh.git
