[alias]
    cv = commit --verbose
    dw = diff --word-diff
    fa = fetch --all
    la = !git config -l | grep alias | cut -c 7-
    lg = log --pretty=format:'%C(bold blue)%h%C(reset)%C(yellow) - %C(white)(%ad)%C(reset) %Cred%d %C(bold white)%s%C(reset) %C(white)— %an' --abbrev-commit --decorate --date=relative --graph --all
    llr = log --pretty=format:'%C(bold blue)%H%C(reset)%C(yellow) - %C(white)(%ad)%C(reset) %Cred%d %C(bold white)%s%C(reset) %C(white)— %an' --decorate --numstat --date=relative
    lls = log --pretty=format:'%C(bold blue)%H%C(reset)%C(yellow) - %C(white)(%ad)%C(reset) %Cred%d %C(bold white)%s%C(reset) %C(white)— %an' --decorate --numstat --date=short
    lsf = ls-files
    lsr = log --pretty=format:'%C(bold blue)%h%C(reset)%C(yellow) - %C(white)(%ad)%C(reset) %Cred%d %C(bold white)%s%C(reset) %C(white)— %an' --abbrev-commit --decorate --date=relative
    lss = log --pretty=format:'%C(bold blue)%h%C(reset)%C(yellow) - %C(white)(%ad)%C(reset) %Cred%d %C(bold white)%s%C(reset) %C(white)— %an' --abbrev-commit --decorate --date=short
    rp = !git rebase -i @{u} && git push
    ss = status -sb
[branch]
    autosetuprebase = always
[branch "master"]
	rebase = true
[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto
[color "branch"]
       current = yellow reverse
       local = yellow
       remote = green
[color "diff"]
       whitespace = red reverse
[color "status"]
       added = yellow
       changed = green
       untracked = cyan
[core]
    excludesfile = /home/raytray/.gitignore_global
[credential]
    helper = cache
[fetch]
    recurseSubmodules = true
[gist]
    private = no
[github]
    user = Raytray
[merge]
    tool = mymeld
[mergetool "mymeld"]
    cmd = /home/raytray/Dropbox/Configs/mergetool.sh $BASE $LOCAL $REMOTE $MERGED
[pull]
    rebase = true
[push]
    default = simple
[user]
    name = Raymond Tang
    email = Raymond@tang.me