[user]
	name = Raymond Tang
	email = Raytray25@gmail.com
[credential]
	helper = cache
[core]
	excludesfile = /home/raytray/.gitignore_global
[alias]
	cv = commit --verbose
	dw = diff --word-diff
	fa = fetch --all
	la = !git config -l | grep alias | cut -c 7-
	ll = log --pretty=format:'%C(bold blue)%h%C(reset)%C(yellow) - %C(white)(%ad)%C(reset) %Cred%d %C(bold white)%s%C(reset) %C(white)— %an' --decorate --numstat --date=relative
	lg = log --pretty=format:'%C(bold blue)%h%C(reset)%C(yellow) - %C(white)(%ad)%C(reset) %Cred%d %C(bold white)%s%C(reset) %C(white)— %an' --abbrev-commit --decorate --date=relative --graph --all
	ls = log --pretty=format:'%C(bold blue)%h%C(reset)%C(yellow) - %C(white)(%ad)%C(reset) %Cred%d %C(bold white)%s%C(reset) %C(white)— %an' --abbrev-commit --decorate --date=relative
	rp = !git rebase -i @{u} && git push
	ss = status -sb
[merge]
        tool = mymeld
[mergetool "mymeld"]
    	cmd = /home/raytray/Dropbox/Configs/mergetool.sh $BASE $LOCAL $REMOTE $MERGED
[github]
	user = Raytray
[gist]
	private = no
[color]
	branch = auto
	diff = auto
	status = auto
	interactive = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
       	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[branch "master"]
	rebase = true
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[push]
	default = simple
